<li>
	
	{{this.burger.burger_name}}
		<button class="change-devoured" data-id="{{this.burger.id}}" data-newdevour="{{this.burger.devoured}}">
		{{#unless this.devoured}}Devour it!{{else}}YUM!!!{{/unless}}
	</button>

</li>